@import "./var.scss";
@import "./_font.scss";
html {
  background-color: #14141f;
  color: #fff;
}

body { 
  // font-family: 'brands';
}

.list-none {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  padding: 0.5rem 0.8rem;
}

.btn-outline-purple {
  border: 2px solid map-get($map: $colors, $key: "purple-500");
  color: map-get($map: $colors, $key: "gray-100");
  border-radius: map-get($map: $borderRadius, $key: "full");
}

.container {
  padding: 0 0.75rem;
}

.swiper-pagination {
  bottom: -30px !important;

  .swiper-pagination-bullet {
    border: 1px solid map-get($map: $colors, $key: "gray-100");
  }

  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: map-get($map: $colors, $key: "gray-100") !important;
  }
}

// .swiper {
// }